.form {
    background: #3e3e42;
    flex-direction: column;
    margin: 10px 0;

}

.form-h6 {
    color: white;
    font-weight: bold;
}

.form-input {
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: #f5f5f5;
    font-size: 16px;
    height: 50px;
}

.form-textarea {
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: #f5f5f5;
    font-size: 16px;
    width: 220px;
    height: 100px;
}

.form-button {
    background-color: blue;
    color: white;
    text-align: center;
    border: 2px solid white;
    outline: none;
    padding: 12px 16px;
}
